 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; }
 body { background: #e8f6f8; font-family: Tahoma, arial, sans-serif; font-size: 13px; color: #626262; height: 100%; margin: 0; padding: 0; }
 a { color: #ea8400; text-decoration: none; }
 a:hover { color: #3c94a2; }
 div.paragraph { line-height: 1.5; color: #626262; font-size: 13px; padding: .5em 0; }
 p { line-height: 1.5; color: #626262; font-size: 13px; padding: .5em 0; }
 h1 { font-size: 24px; font-weight: bold; color: #272e34; line-height: 1.5; padding: .5em 0; }
 h2 { font-size: 20px; color: #272e34; line-height: 1.5; padding: .3em 0; }
 blockquote { font-style:italic; border-left:4px solid #ddd; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 #wrapper { width: 958px; margin: 0 auto; }
 #header a { color: #3c94a2; }
 #logo, #logo a { font-size: 30px; color: #ffa127; }
 #content { width: 996px; clear: both; background: url(theme/contentbg.jpg?799973) repeat-y left; }
 #contenttop { width: 996px; background: url(theme/contenttop.jpg?799973) top left no-repeat; }
 #contentbtm { width: 926px; height: auto !important; min-height: 700px; padding: 14px 52px 30px 18px; background: url(theme/contentbtm.jpg?799973) bottom left no-repeat; }
 #banner { width: 925px; }
 #real-content { padding-top: 14px; }
 #navigationcontainer { width: 996px; height: 54px; background: url(theme/navicontainer.jpg?799973) bottom no-repeat; clear: both; }
 #navigation { position: relative; height: 54px; z-index: 2; float: right; background: url(theme/navigationbg.jpg?799973) bottom repeat-x; }
 #navigation_left { float: right; height: 54px; background: url(theme/navigationleft.jpg?799973) bottom left no-repeat; }
 #navigation_right { float: right; height: 35px; padding: 19px 70px 0 42px; background: url(theme/navigationright.jpg?799973) bottom right no-repeat; }
 #navigation ul { float: right; }
 #navigation li { float: left; height: 35px; z-index: 2; padding: 1px 2px 0 0; background: url(theme/navli.gif?799973) right top no-repeat; }
 #navigation li a { position: relative; display: inline-block; height: 25px; color: #1d1d1d; float: left; z-index: 2; padding: 10px 15px 0 15px; font-size: 13px; text-decoration: none; white-space: nowrap; }
 #navigation li a:hover { border-left: 1px solid #a1d6de; border-right: 1px solid #a1d6de; padding: 10px 14px 0 14px; background: url(theme/hoverbg.jpg?799973) repeat-x; text-decoration: none; }
 #navigation li#active a { border-left: 1px solid #a1d6de; border-right: 1px solid #a1d6de; padding: 10px 14px 0 14px; background: url(theme/hoverbg.jpg?799973) repeat-x; }
 #wsite-menus .wsite-menu li:first-child { border-top: 1px solid #a1d6de; }
 #wsite-menus .wsite-menu li a { background: #f1f9fa; border-top: none; border-bottom: 1px solid #a1d6de; border-right: 1px solid #a1d6de; border-left: 1px solid #a1d6de; text-decoration: none; padding: 8px 6px 8px 12px; color: #333333; }
 #wsite-menus .wsite-menu li a:hover { background: #d6eaec; color: #333333; }
 #header { width: 100%; height: 70px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 20px 0 10px 37px; background: url(theme/sitetitlebg.jpg?799973) top left no-repeat; }
 #header-right { padding: 15px 13px 0 10px; }
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #666666; font-size: 14px; text-decoration: none; display: block; white-space: nowrap; margin: 0 0 0 15px; }
 #header-right .wsite-social { vertical-align: middle; margin: 0 0 0 12px; }
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; background-image:url(theme/social-lightblue-bordered.png?799973); }
 #footer .wsite-social-item { background-image:url(theme/social-orange-gradient.png?799973); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -23px;}
 .wsite-social-facebook:active {background-position:0 -46px;}
 .wsite-social-pinterest {background-position:-23px 0;}
 .wsite-social-pinterest:hover {background-position:-23px -23px;}
 .wsite-social-pinterest:active {background-position:-23px -46px;}
 .wsite-social-twitter {background-position:-46px 0;}
 .wsite-social-twitter:hover {background-position:-46px -23px;}
 .wsite-social-twitter:active {background-position:-46px -46px;}
 .wsite-social-linkedin {background-position:-69px 0;}
 .wsite-social-linkedin:hover {background-position:-69px -23px;}
 .wsite-social-linkedin:active {background-position:-69px -46px;}
 .wsite-social-mail {background-position:-92px 0;}
 .wsite-social-mail:hover {background-position:-92px -23px;}
 .wsite-social-mail:active {background-position:-92px -46px;}
 .wsite-social-rss {background-position:-115px 0;}
 .wsite-social-rss:hover {background-position:-115px -23px;}
 .wsite-social-rss:active {background-position:-115px -46px;}
 .wsite-social-flickr {background-position:-138px 0;}
 .wsite-social-flickr:hover {background-position:-138px -23px;}
 .wsite-social-flickr:active {background-position:-138px -46px;}
 .wsite-social-plus {background-position:-161px 0;}
 .wsite-social-plus:hover {background-position:-161px -23px;}
 .wsite-social-plus:active {background-position:-161px -46px;}
 .wsite-social-vimeo {background-position:-184px 0;}
 .wsite-social-vimeo:hover {background-position:-184px -23px;}
 .wsite-social-vimeo:active {background-position:-184px -46px;}
 .wsite-social-yahoo {background-position:-207px 0;}
 .wsite-social-yahoo:hover {background-position:-207px -23px;}
 .wsite-social-yahoo:active {background-position:-207px -46px;}
 .wsite-social-youtube {background-position:-230px 0;}
 .wsite-social-youtube:hover {background-position:-230px -23px;}
 .wsite-social-youtube:active {background-position:-230px -46px;}
 #header-right .wsite-search { vertical-align: middle; margin: 0 0 0 15px; }
 #header-right .wsite-search .wsite-search-input { width: 157px; height: 19px; border: none; padding: 3px 7px 5px 7px !important; color: #848484; font-size: 12px; background: url(theme/input-bg.png?799973) no-repeat; }
 #header-right .wsite-search .wsite-search-button { position: relative; width: 32px; height: 27px; border: none; margin: 0; padding: 0; background: url(theme/submit.png?799973) no-repeat; }
 #footer { width: 960px; color: #fff; font-size: 12px; text-align: right; background: url(theme/footerbg.jpg?799973) repeat-y; margin: 23px 0 23px 0; text-align: right; }
 #footertop { width: 960px; background: url(theme/footertop.jpg?799973) top no-repeat; }
 #footerbtm { width: 932px; padding: 15px 14px 14px 14px; background: url(theme/footerbtm.jpg?799973) bottom no-repeat; }
 #footer a { color: #542b03; }
 #footer a:hover { color: #c3660a; }
 .wsite-footer { margin-bottom: 15px; }
 #footer div.paragraph {color:#9f550c; font-size:12px;}
 #footer p {color:#9f550c; font-size:12px;}
 #footer h2 { font-size:16px; color: #864402; border-bottom:1px solid #c3660a; }
 #footer blockquote { border-left:4px solid #e58f1f; color:#b0661d; }
 #footer hr {background:#ce7e16;}
 .wsite-form-container { margin-top:0px !important; text-align:left !important; color:#9f550c; }
 .wsite-footer .wsite-form-label { font-size: 1em !important; padding: 5px 0 2px 0 !important; color: #864402; }
 .wsite-footer .wsite-form-field { width:290px !important; }
 .wsite-footer .form-radio-container { font-size:1em !important; color:#9f550c; }
 .wsite-footer .wsite-form-input { font-size: 1em !important; width: 100% !important; }
 .wsite-footer .form-select { width: 100% !important; }
 .no-header-page #contentbtm { padding: 10px 52px 30px 18px; }
 .tall-header-page .wsite-header { width: 925px; height: 256px; background: url(theme/banner-tall.png?799973) no-repeat; }
 .short-header-page #banner { height: 148px; background: url(theme/secondary-2-ban-bg.jpg?799973) no-repeat; }
 .short-header-page .wsite-header { width: 925px; height: 146px; margin: 8px 0 8px 0; background: url(theme/banner-short.png?799973) no-repeat; }
 .landing-page #banner { width: 940px; margin: 0 0 0 -17px; padding: 0 0 11px 17px; background: url(theme/banner-landing-bg.jpg?799973) bottom repeat-x; }
 .landing-page .wsite-header { float: left; width: 495px; height: 286px; background: url(theme/banner-landing.png?799973) no-repeat; }
 #banner-left { float: left; width: 494px; height: 286px; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #bannerright { float: left; width: 343px; height: 286px; padding: 0 40px 0 47px; }
 #bannerright h2 { color: #333; font-size: 26px; padding: 0; line-height: 1; }
 #bannerright div.paragraph { color: #666; font-size: 15px; padding: 20px 0; line-height: 140%; }
 #bannerright p { color: #666; font-size: 15px; padding: 20px 0; line-height: 140%; }
 #banner-button { float: right; padding-right: 280px; padding-top: 0px; }
 .splash-page .wsite-header { width: 545px; height: 126px; border: none; margin: 15px 0 0 0; padding: 5px 0 0 0; background: url(theme/banner-splash.png?799973) no-repeat; }
 .splash-page #header { width: 579px; margin: 0 0 0 2px; }
 .splash-page #header-right { width: 152px; }
 .splash-page #contenttop { width: 610px; background: url(theme/splash-contenttop.jpg?799973) top left no-repeat; }
 .splash-page #contentbtm { width: 543px; height: auto !important; padding: 24px 18px 30px 18px; background: url(theme/splash-contentbtm-bg.jpg?799973) left bottom no-repeat; }
 .splash-page #content { width: 579px; clear: both; background: url(theme/splash-contentbg.jpg?799973) repeat-y; margin: 0 0 0 2px; }
 .splash-page #wrapper { width: 582px; margin: 0 auto; }
 .splash-page #footer { width: 582px; background: url(theme/splash-footerbg.jpg?799973) repeat-y; }
 .splash-page #footertop { width: 582px; background: url(theme/splash-footertop-bg.jpg?799973) top no-repeat; }
 .splash-page #footerbtm { width: 554px; background: url(theme/splash-footerbtm-bg.jpg?799973) bottom no-repeat; padding: 15px 14px 14px 14px; }
 .wsite-form-label { display: inline-block; color: #1d1d1d; font-weight: normal; font-size: 13px; padding: 10px 0 3px 0; }
 .form-radio-container { color: #666666; font-size: 13px; }
 .wsite-form-input, .wsite-search-element-input { background: #fff; color: #666666; border: 1px solid #d3d3d3; -moz-border-radius: 3px; border-radius: 3px; background: #fff url(theme/form-input-bg.gif?799973) repeat-x; font-size:12px; }
 .form-select { width: 380px; color: #666666; background: #fff; border: 1px solid #d3d3d3; -moz-border-radius: 3px; border-radius: 3px; }
 .wsite-button { color: #535b39 !important; height: 35px; display: inline-block; font-size: 12px; border: none; font-weight: bold; text-decoration: none; text-transform: uppercase; padding: 0 10px 0 0; background: url(theme/button_small_green.png?799973) no-repeat 100% -105px; text-shadow:0 1px 0 rgba(255,255,255,0.9); }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { color: #535b39 !important; height: 35px; line-height: 35px; display: block; font-size: 12px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url(theme/button_small_green.png?799973) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 42px; background: url(theme/button_large_green.png?799973) no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 1px 10px 0 20px; background: url(theme/button_large_green.png?799973) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { color: #37575c !important; background-image: url(theme/button_large_blue.png?799973); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { color: #37575c !important; background-image: url(theme/button_large_blue.png?799973); }
 .wsite-button-highlight { color: #37575c !important; background-image: url(theme/button_small_blue.png?799973); }
 .wsite-button-highlight .wsite-button-inner { color: #37575c !important; background-image: url(theme/button_small_blue.png?799973); }
 #content .blog-post .blog-header h2.blog-title a { font-family: Tahoma, arial, sans-serif; font-size: 21px; line-height: 1.5em; color: #FFA127; }
 #content .blog-post .blog-header h2.blog-title a:hover { font-family: Tahoma, arial, sans-serif; font-size: 21px; line-height: 1.5em; color: #FFA127; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
